body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
header {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.nav {
  text-decoration: none;
  color: black;
  font-size: 14px;
}
p {
  text-decoration: none;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
.link {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
footer {
  background-color: #f2f2f2;
  box-sizing: border-box;
  display: block;
}
#country {
  text-decoration: none;
  background-color: #f2f2f2;
  color: rgba(0,0,0,.54);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  pointer-events: none;
  cursor: default;
}
.footer {
  text-decoration: none;
  color: rgba(0,0,0,.54);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  display: flex-in;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
