body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
header {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
#navheader a {
  text-decoration: none;
}
.topbar {
  text-decoration: none;
  color: black;
  font-size: 14px;
}
p {
  text-decoration: none;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
button {
  border-color: rgb(218, 218, 215);
  background-color: rgb(248, 249, 250);
  padding: 0px 16px 0px 16px;
  margin: 11px 4px 11px 4px;
  height: 40px;
  width: 130px;
  box-sizing: border-box;
  border-radius: 2px;
  border-image-repeat: stretch;
  display: inline-block;
  cursor: pointer;
}
.link {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
footer {
  background-color: #f2f2f2;
  box-sizing: border-box;
  display: block;
}
#country {
  text-decoration: none;
  color: rgba(0,0,0,.54);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  pointer-events: none;
  cursor: default;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
#navfooter a {
  text-decoration: none;
  color: rgba(0,0,0,.54);
}
#navbar1 {
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
#navbar2 {
  float: right;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

