body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
header {
  font-family: Arial, Helvetica, sans-serif;
  margin: 25px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
#navheader a {
  text-decoration: none;
  color: black;
  font-size: 13px;
  padding: 7px;
}
a:hover {
  text-decoration: underline!important;
}
#logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 160px;
  padding-bottom: 15px;
}
#searchbox-container {
  margin: auto;
  height: 45px;
  width: 535px;
}
#searchbox {
  display: flex;
  height: 43px;
  width: 535px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding-left: 43px;
  padding-right: 20px;
  border-radius: 5em;
  border-style: solid;
  border-width: thin;
  border-color: rgb(218, 220, 223);
}
input[type=search]:focus {
  outline: none;
  box-shadow: 0 0 2px 2px #e6e4e4;
}
#search-icon {
  position: absolute;
  padding-left: 12px;
  margin-top: -35px;
  height: 27px;
  width: 27px;
}
#search {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  padding-top: 17px;
}
button {
  display: inline-block;
  height: 40px;
  width: 150px;
  border-color: rgb(248, 249, 250);
  background-color: rgb(248, 249, 250);
  box-sizing: border-box;
  padding: 0px 16px;
  margin: 8px 4px;
  border-radius: 2px;
  border-style: solid;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
p {
  text-decoration: none;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
.link {
  text-decoration: none;
}
footer {
  background-color: #f2f2f2;
  background-size: 100% 100%;
  background-origin: padding-box;
  background-position-x: 0%;
  background-position-y: 0%;
  background-size: auto;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
}
#country {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  height: 17px;
  padding: 16px 30px 16px 30px;
  border-bottom: 1px solid rgb(188, 188, 192);
  color: rgba(0,0,0,.54);
}
#navfooter {
  background-color: #f2f2f2;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  text-decoration: none;
  color: rgb(0,0,0,.54);
  height: 17px;
  margin-top: 8px;
  padding-top: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.leftnav {
  float: left;
  margin-left: 20px;
}
.rightnav {
  float: right;
  margin-right: 20px;
}
.leftnav a, .rightnav a {
  text-decoration: none;
  color: rgb(0,0,0,.54);
  white-space: no-wrap;
  height: 16px;
  padding: 0px 8px 0px 8px;
}
@media screen and (max-width: 550px) {
  #logo {
    padding-top: 120px;
  }
  #searchbox-container {
    width: 485px;
  }
  #searchbox {
    width: 400px;
    margin-left: 50px;
  }
  #search-icon {
    margin-left: 48px;
  }
  footer {
    height: 130px;
  }
  #navfooter {
    flex-direction: column;
    height: 40px;
  }
}